/* --- Team --- */
.team {
  padding: 60px 0 0;
  font-size: 16px;
  line-height: 1.19;
  background-color: #f5f4fa;

  & .title {
    color: #212121;
    font-weight: 700;
    font-size: var(--h2);
    line-height: 1.17;
    margin-bottom: 30px;
    text-align: center;

  }
}

.team__item-content-wrapper {
  text-align: center;
  padding: 30px 0;
}

.team__item {
  // margin-top: calc(-1 * 30px);
  // margin-left: calc(-1 * 30px);
  & .subtitle {
    margin-bottom: 12px;
  }
}


// @media screen and (min-width: 1200px) {
//     .team {
//       background-color: #f5f4fa;
//       // padding: 94px 0 0 0;

//       & .title {
//         margin-bottom: 50px;
//       }
//     }

//     .team__item-list {
//       box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 
//                   0px 1px 1px rgba(0, 0, 0, 0.14),
//                   0px 2px 1px rgba(0, 0, 0, 0.2);
//       border-radius: 0px 0px 4px 4px;
//       background-color: #fff;
//       width: 270px;

//       &:nth-child(2n) {
//         //всех чётных элементов
//         margin-left: 30px;
//       }
//       &:not(:nth-last-child(-n + 2)) {
//         margin-bottom: 30px;
//       }
//     }



//   .team__item-img {
//     width: 100%;
//   }

//   .card {
//     background-color: #ffffff;
//     box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 
//                 0px 1px 1px rgba(0, 0, 0, 0.14),
//                 0px 2px 1px rgba(0, 0, 0, 0.2);
//     border-radius: 0px 0px 4px 4px;
//     margin: 0;
//     text-align: center;


// }

// /* tablet */
// @media screen and (min-width: 768px) and (max-width: 1199px) {
//   .team {
//     margin-top: 0px;
//     padding-top: 60px;
//     padding-bottom: 60px;
//     background-color: #f5f4fa;

//     & .title {
//       color: #212121;
//       font-weight: 700;
//       font-size: 28px;
//       line-height: 1.17;
//       margin-bottom: 30px;
//       text-align: center;
//       align-items: center;
//       }
//   }

//   .team__item {
//     display: flex;
//     flex-wrap: wrap;
//     justify-content: space-between;
      
//   }

//   .team__item-list {
//     box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 
//                 0px 1px 1px rgba(0, 0, 0, 0.14),
//                 0px 2px 1px rgba(0, 0, 0, 0.2);
//     border-radius: 0px 0px 4px 4px;
//     background-color: #fff;
//     width: 350px;

//     &:nth-child(2n) {
//       //всех чётных элементов
//       margin-left: 30px;
//     }
//     &:not(:nth-last-child(-n + 2)) {
//       margin-bottom: 30px;
//     }
//   }
// }