/* --- Team --- */
.team {
  margin-top: 0px;
  padding-top: 60px;
  padding-bottom: 60px;
  background: #f5f4fa;

  & .title {
    margin-bottom: 50px;
  }
}

.team__item {
  & .subtitle {
    min-width: 152px;
    margin-bottom: 10px;
  }
}
.team__item-content-wrapper {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

.team__item-img {
  // margin-bottom: 30px;
  width: 100%;
}

.card {
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  margin: 0;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .team__item-list {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }
}

@media screen and (max-width: 1199px) {
  .team__item-list {
    &:nth-child(-n + 2) {
      margin-bottom: 30px;
    }
  }
}

@media screen and (min-width: 768px) {
  .team__item {
    display: flex;
    flex-wrap: wrap;

    margin-left: -15px;
    margin-right: -15px;
  }
  .team__item-list {
    width: calc((100% - 2 * 30px) / 2);

    margin-left: 15px;
    margin-right: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .team {
    padding-top: 94px;
    padding-bottom: 94px;
  }

  .team__item-list {
    width: calc((100% - 4 * 30px) / 4);
  }
}

/*.team {
  background: #f5f4fa;
  min-height: 708px;
  padding: 94px 0 0 0;
  overflow: hidden;

  & .title {
    margin-bottom: 50px;
  }
}

.team__item {
  display: flex;
  justify-content: space-between;

  & .subtitle {
    min-width: 152px;
    margin-bottom: 10px;
  }
}

.team__item-list:not(:last-child) {
  margin-right: 30px;
}

.card {
  width: 270px;
  height: 428px;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  margin: 0px;
}

.team__item-content-wrapper {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
}
.team__item {
  display: flex;
  justify-content: space-between;

  & .subtitle {
    min-width: 152px;
    margin-bottom: 10px;
  }
}*/