@media screen and (max-width: 767px) {
  display: none;
  position: absolute;
  padding-top: 60px;
  padding-bottom: 60px;
  top: 100%;
  left: 0;
  width: 100%;

  .menu-container {
    height: 400px;
    background-color: #ffffff;
    padding: 20px;
    text-align: center;
    font-size: 20px;
  
    &.is-open {
      display: block;
    }
  
    
  }
}


.menu-button {
  display: inline-flex;
  padding: 0;
  border: 0;
  background-color: transparent;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: var(--timing);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }

  &__icon {
    fill: currentColor;
  }

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.icon-menu {
  display: block;
}

.icon-cross {
  display: none;
}

.menu-button.is-open .icon-cross {
  display: block;
}

.menu-button.is-open .icon-menu {
  display: none;
}

@media screen and (max-width: 767px) {
  .navigation__list {
    display: block;
    text-align: center;
  }

  .address {
    // display: flex;
    align-items: center;
    margin: 32px 0 32px 0;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1) 250ms;
  }
}