/* --- Common Files --- */
html {
  box-sizing: border-box;
}

body {
  padding-top: 60px;
  background: var(--primery-background-color);
  color: var(--primery-color);
  font-family: $main-font;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  outline: 1px solid magenta;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
  outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.address {
  font-style: normal;
}
