/* --- Container --- */
/* responsive-mobile */
.container {
  width: 100%;
  padding: 0 15px;
  
  .header & {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

/* adaptive-mobile */
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
    margin: 0 auto;
  }
}

/* tablet */
@media screen and (min-width: 768px) {
  .container {
    width: 720px;

    .header & {
      display: flex;
      align-items: center;
    }

    .about & {
      display: flex;
    }
  }
}

/* desktop */
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}
